.integrantes{
  margin-left: 10px;
}

footer {
  margin-top: 50px;
  font-family: unset;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border-top: 1px solid rgba(44, 37, 185, 0.781);
}



