Footer{
    background-color: rgb(104, 159, 165);
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}


.alumnos{
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}




