.detalle-card{
    width: 45%;
    font-size: 14px;
    color: white;
    background-color: #1f1f1f;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    
  }

  .card-body{
    display: flex;
    flex-direction: column;
    padding: 8px;
  }